extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Gilles Robert | Taxi à Dinan
    div.Message
      div.Title
        h3 Tesla model S
        h1 Taxi à Dinan

      span.Details 
        h3 24h/24 et 7j/7
      div.itemscope(itemtype="http://schema.org/LocalBusiness")
        h1(itemprop="name")
            span(itemprop="telephone")
                a(href="tel:+33608315592") +33608315592
      div.itemscope(itemtype="http://schema.org/LocalBusiness")
        h1(itemprop="name")
          span(itemprop="mail")
              a(href="mailto:gil.rob02@gmail.com") gil.rob02@gmail.com

    div.NavButtons
      a(href="/user")
          div.NavButton Prix

