extends layout

block layout-content
  div.View.UserView
    h1.Banner Estimation du prix
    div.Message
      div.Title
        h1 Estimateur de prix 
        h3 Le prix peut varier en fonction du trafic
        div
          label(for='depart') Départ : 
          input#depart(type='text', name='depart', placeholder="ville")
          br
          label(for='arrivee') Arrivée : 
          input#arrivee(type='text', name='arrivee', placeholder="ville")
        div
          label(for="aller_simple") Aller simple
          input#aller_simple(type="checkbox", onchange="checkbox_change_1()", checked) 
        div
          label(for="aller_retour") Aller retour                       
          input#aller_retour(type="checkbox", onchange="checkbox_change_2()") 

        div
          label(for='attente') Durée attente : 
          input#attente(type='time', name='attente', onclick="attente_change()", pattern="[0-9]{2}:[0-9]{2}")
        div
          label(for="jour_nuit") Dimanche, férié ou de nuit
          input#jour_nuit(type="checkbox")
        br
        div
          button(onclick="SomeFunction()") Calculer
        br
        //h3#resultat
        //br
        h3#prix
      //pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/")
        div.NavButton Retour

  script.
    function checkbox_change_1(){
      aller_retour.checked = !aller_retour.checked;
    }
  script.
    function checkbox_change_2(){
      aller_simple.checked = !aller_simple.checked;
    }
  script.
    function attente_change(){
      attente.value = "00:00";
      aller_retour.checked = true;
      aller_simple.checked = false;
    }
  script.
    function init_autocomplete() {
      var input_1 = document.getElementById('depart');
      var searchBox_1 = new google.maps.places.SearchBox(input_1);    
      var input_2 = document.getElementById('arrivee');
      var searchBox_2 = new google.maps.places.SearchBox(input_2);    
      searchBox_1.addListener('places_changed', function() {
        var places = searchBox_1.getPlaces();
        if (places.length == 0) {
          return;
        }
      })
      searchBox_2.addListener('places_changed', function() {
        var places = searchBox_2.getPlaces();
        if (places.length == 0) {
          return;
        }
      })
    }
  script.
    function SomeFunction() {
      var service = new google.maps.DistanceMatrixService();
      service.getDistanceMatrix({origins: [depart.value], destinations: [arrivee.value], travelMode: google.maps.TravelMode.DRIVING, unitSystem: google.maps.UnitSystem.METRIC}, callback_);
      function callback_(response, status) {
        if (status == 'OK') {
          var element = response.rows[0].elements[0];
          var distance = element.distance.text;
          var duration = element.duration.text;
          var forfait_coeff_km = 1.08*2;
          if (jour_nuit.checked){
            forfait_coeff_km = 1.62*2;
          }
          var prix_route = parseInt(distance.split(" ")[0])*forfait_coeff_km;
          if (aller_retour.checked){
            if (attente.value == "") {
              prix_route = prix_route
            }else if (attente.value.split(":")[0] == ""){
              prix_route = prix_route + (attente.value.split(":")[1]/60)*24.16;
            }else if (attente.value.split(":")[1] == ""){
              prix_route = prix_route + (parseInt(attente.value.split(":")[0]))*24.16;
            }else {
              prix_route = prix_route + (parseInt(attente.value.split(":")[0]) + (attente.value.split(":")[1]/60))*24.16;
            }
          }
          prix.innerHTML = "Cela ferait " + Math.round(220 + 100*Math.max(5.10,  prix_route))/100 + "€ environ"
        }else{
          prix.innerHTML = "Le calcul a échoué"
        }
      }
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=" + api_key.nb + "&libraries=places&callback=init_autocomplete", async, defer)

